.popular_products__all_products {
  margin-top: 40px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.popular_products__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@media (max-width: 992px) {
  .popular_products__all_products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .popular_products__all_products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .popular_products__all_products {
    grid-template-columns: auto;
  }
}
