.fav_product {
  display: flex;
  justify-content: space-between;
}

.fav_product:not(:last-child) {
  margin-bottom: 20px;
}

.fav_product__img {
  border: 1px solid;
  border-radius: 10px;
  width: 70px;
  height: 65px;
  padding: 7px;
  margin-right: 10px;
  position: relative;
}

.fav_product__img svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fav_product__text {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

.fav_product__title {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.fav_product__title a {
  transition: color 0.2s ease-in-out;
}

.fav_product__title a:hover {
  color: #182466;
}

.fav_product__price {
  font-size: 12px;
  margin-top: 5px;
}

.fav_product__price b {
  font-weight: 500;
}

.fav_product__price b:last-child:not(:first-child) {
  font-size: 9px;
  text-decoration: line-through;
  margin-left: 5px;
}
