html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

::placeholder {
  color: #969696;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #969696;
}

::-ms-input-placeholder {
  color: #969696;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rec-slider-container {
  margin: 0 !important;
}

.st_main_section {
  padding-top: 80px;
}

.sub_header + .st_main_section {
  padding-top: 40px;
}

.st_main_section__title {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

@media (max-width: 992px) {
  .st_main_section__title {
    font-size: 25px;
  }
  .st_main_section {
    padding-top: 60px;
  }
}

.popular_cats__carousel .rec-item-wrapper {
  justify-content: flex-start;
}

.st_checkbox,
.st_radio {
  position: relative;
  padding-left: 23px;
}

.st_checkbox input,
.st_radio input {
  width: 16px;
  height: 16px;
  margin: 0;
  position: absolute;
  top: 2px;
  left: 0;
  opacity: 0;
}

.st_checkbox div,
.st_radio div {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #afafaf;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.st_radio div {
  top: 3px;
  border-radius: 50%;
}

.st_checkbox div svg {
  display: none;
}

.st_checkbox input:checked + div {
  border-color: #22d1ee;
  background-color: #22d1ee;
}

.st_radio input:checked + div {
  border-color: #22d1ee;
  background-color: #22d1ee;
  box-shadow: inset 0 0 0 3px #fff;
}

.st_checkbox input:checked + div svg {
  display: block;
}

.st_radio label,
.st_checkbox label {
  line-height: 20px;
  font-size: 14px;
}
